In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

LOAD THE DATASET

In [4]:
df = pd.read_csv("C:/Users/Student/Documents/kaim documents/data/data/benin-malanville.csv")

In [5]:
df.head(10)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN
5,2021-08-09 00:06,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.8,0.0,0.4,0.1,119.1,0.0,997,0,0.0,26.4,26.3,NaN
6,2021-08-09 00:07,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.7,0.0,0.0,0.0,0.0,0.0,997,0,0.0,26.5,26.3,NaN
7,2021-08-09 00:08,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.7,0.7,1.3,0.6,126.8,2.8,997,0,0.0,26.5,26.3,NaN
8,2021-08-09 00:09,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.6,0.4,1.1,0.5,124.9,5.5,997,0,0.0,26.5,26.4,NaN
9,2021-08-09 00:10,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.6,0.5,1.1,0.5,114.2,5.1,997,0,0.0,26.5,26.4,NaN

In [6]:
# overview of numeric columns
print("The description of the numeric columns:")
print(df.describe())

The description of the numeric columns:
                 GHI            DNI            DHI           ModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      240.559452     167.187516     115.358961     236.589496
std       331.131327     261.710501     158.691074     326.894859
min       -12.900000      -7.800000     -12.600000       0.000000
25%        -2.000000      -0.500000      -2.100000       0.000000
50%         1.800000      -0.100000       1.600000       4.500000
75%       483.400000     314.200000     216.300000     463.700000
max      1413.000000     952.300000     759.200000    1342.300000

                ModB           Tamb             RH             WS  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      228.883576      28.179683      54.487969       2.121113
std       316.536515       5.924297      28.073069       1.603466
min         0.000000      11.000000       2.100000       0.000000
25%         0.000000      24.200000      28.800000       1.000000
50%         4.300000      28.000000      55.100000       1.900000
75%       447.900000      32.300000      80.100000       3.100000
max      1342.300000      43.800000     100.000000      19.500000

              WSgust        WSstdev             WD        WDstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean        2.809195       0.473390     153.435172       8.582407
std         2.029120       0.273395     102.332842       6.385864
min         0.000000       0.000000       0.000000       0.000000
25%         1.300000       0.400000      59.000000       3.700000
50%         2.600000       0.500000     181.000000       8.600000
75%         4.100000       0.600000     235.100000      12.300000
max        26.600000       4.200000     360.000000      99.400000

                  BP       Cleaning  Precipitation          TModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      994.197199       0.000923       0.001905      35.246026
std         2.474993       0.030363       0.037115      14.807258
min       985.000000       0.000000       0.000000       9.000000
25%       993.000000       0.000000       0.000000      24.200000
50%       994.000000       0.000000       0.000000      30.000000
75%       996.000000       0.000000       0.000000      46.900000
max      1003.000000       1.000000       2.500000      81.000000

               TModB  Comments
count  525600.000000       0.0
mean       32.471736       NaN
std        12.348743       NaN
min         8.100000       NaN
25%        23.600000       NaN
50%        28.900000       NaN
75%        41.500000       NaN
max        72.500000       NaN